.action-button {
  height: 48px;
  width: 160px;
  border-radius: 2px;
  background-color: $color-light-blue;
  border: none;
  padding: 17px 28px 18px;

  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: $text-color-white;

  &_wide {
    width: 247px;
  }

  &_white {
    background-color: $color-white;
    color: $text-color-lighter-blue;
    width: 158px;
  }

  &_black-text {
    color: $text-color-black;
  }
}

._container {
  width: 1140px;
  margin: 0px auto;
}

.visual {
  &__img {
    margin-bottom: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $text-color-light-grey;
    margin: 0;
  }
}

.content {
  & > * {
    margin: 0;
  }

  &__intro {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-orange;

    &_blue {
      color: $text-color-blue;
    }

    &_black {
      color: $text-color-dark;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin-top: 17px;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      margin-top: 24px;
    }
  }

  &__text {
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;

    @include for-large-up {
      margin-top: 30px;
    }
  }
}

.hide {
  &_desktop {
    @include for-large-up {
      display: none;
    }
  }

  &_mobile {
    @include for-large-down {
      display: none;
    }
  }
}
