.action-button {
  height: 48px;
  width: 160px;
  border-radius: 2px;
  background-color: #3040c4;
  border: none;
  padding: 17px 28px 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #fff;
}

.action-button_wide {
  width: 247px;
}

.action-button_white {
  background-color: #fff;
  color: #3040c4;
  width: 158px;
}

.action-button_black-text {
  color: #000;
}

._container {
  width: 1140px;
  margin: 0px auto;
}

.visual__img {
  margin-bottom: 15px;
}

.visual__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin: 0;
}

.content > * {
  margin: 0;
}

.content__intro {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
}

.content__intro_blue {
  color: #0189d1;
}

.content__intro_black {
  color: #2b292d;
}

.content__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.5px;
  margin-top: 17px;
}

@media screen and (min-width: 400px) {
  .content__title {
    font-size: 56px;
    line-height: 56px;
    margin-top: 24px;
  }
}

.content__text {
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}

@media screen and (min-width: 400px) {
  .content__text {
    margin-top: 30px;
  }
}

@media screen and (min-width: 400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 399px) {
  .hide_mobile {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
}

@media screen and (max-width: 399px) {
  .page {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-section {
  background-color: #f3c6bd;
}

@media screen and (min-width: 400px) {
  .top-section {
    padding-top: 39px;
    background-color: #f3c6bd;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0 8px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__description {
  display: none;
}

@media screen and (min-width: 400px) {
  .header .logo__description {
    display: block;
  }
}

@media screen and (min-width: 400px) {
  .header {
    background-color: transparent;
    width: 1140px;
    height: 62px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}

@media screen and (min-width: 400px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}

.header__button {
  display: none;
}

@media screen and (min-width: 400px) {
  .header__button {
    display: block;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}

@media screen and (min-width: 400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

@media screen and (min-width: 400px) {
  .logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d99;
  }
}

.navigation {
  display: none;
}

.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item_selected {
  font-weight: 700;
}

.navigation__arrow {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 5px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  margin-left: 11px;
}

@media screen and (min-width: 400px) {
  .navigation {
    display: block;
    margin: 7px 56px 0px auto;
  }
}

.headline {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 77px;
  }
}

.headline__content {
  margin: 35px 15px 33px;
}

@media screen and (min-width: 400px) {
  .headline__content {
    margin: 0;
    position: absolute;
    z-index: 1;
  }
}

.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}

@media screen and (min-width: 400px) {
  .headline__title {
    height: 165px;
    width: 754px;
    margin: 0;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
}

.headline__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 24px;
  margin-bottom: 0;
}

@media screen and (min-width: 400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
  }
}

.headline__bunner {
  width: 100%;
  margin-bottom: 36px;
}

@media screen and (min-width: 400px) {
  .headline__bunner {
    position: relative;
    right: -105px;
    top: 0;
    margin-left: auto;
    height: 448px;
    width: 796px;
  }
}

.headline__actions {
  margin-top: 30px;
}

.headline__actions > *:last-child {
  margin-top: 15px;
}

@media screen and (min-width: 400px) {
  .headline__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 58px;
  }
  .headline__actions > *:last-child {
    margin-left: 10px;
    margin-top: 0;
  }
}

@media screen and (max-width: 399px) {
  .headline__action-btn {
    width: 100%;
  }
}

.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #f4f5f7;
}

@media screen and (min-width: 400px) {
  .about {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 76px 135px 77px 126px;
  }
}

.article:last-child {
  margin-top: 20px;
}

@media screen and (min-width: 400px) {
  .article:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 400px) {
  .article {
    width: 555px;
  }
}

.article__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}

.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.customers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 400px) {
  .customers__row {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.customers__item:last-child {
  border-right: none;
}

@media screen and (min-width: 400px) {
  .customers__item {
    border: none;
  }
}

.customers__logo {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  max-width: 80%;
}

.tips {
  margin-top: 8px;
}

@media screen and (min-width: 400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 49px 15px 0px 15px;
  border-bottom: 1px solid #e3e3e3;
}

.tip__subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}

.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}

.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 15px;
}

.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tip__image {
  margin-top: 30px;
  max-width: 100%;
}

.tip__image-caption {
  margin-top: 19px;
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 399px) {
  .features {
    display: none;
  }
}

.features__content {
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__column {
  width: 459px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}

.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}

.features__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}

.features__advantage-header {
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
}

.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin-left: 15px;
  margin: 0;
  margin-left: 15px;
}

.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}

.features__advantage-item {
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}

.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}

.features__banner {
  position: absolute;
  right: 0;
  height: 597px;
}

.audience {
  background: rgba(0, 161, 198, 0.07);
}

@media screen and (min-width: 400px) {
  .audience {
    height: 983px;
  }
}

@media screen and (min-width: 400px) {
  .audience {
    padding: 110px 0px;
  }
}

.audience__container {
  max-width: 320px;
  padding: 50px 15px;
}

@media screen and (min-width: 400px) {
  .audience__container {
    padding: 0;
    max-width: 1140px;
    margin: 0px auto;
  }
}

.audience__headline {
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
}

@media screen and (min-width: 400px) {
  .audience__headline {
    padding-bottom: 0;
    width: 555px;
    margin: 0px auto 111px;
  }
}

.audience__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.audience__buttons > * {
  width: 100%;
}

.audience__buttons > *:first-child {
  margin-bottom: 12px;
}

@media screen and (min-width: 400px) {
  .audience__buttons {
    margin-top: 34px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .audience__buttons > * {
    width: 160px;
  }
  .audience__buttons > *:first-child {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 400px) {
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cards__item {
  border-radius: 8px;
  background-color: #fff;
  width: 290px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.cards__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 400px) {
  .cards__item {
    margin-bottom: 0;
    width: 262px;
  }
}

.cards__item:hover {
  background-color: #3141c5;
  cursor: pointer;
}

.cards__item:hover .cards__title {
  color: #fff;
}

.cards__img {
  margin: 22px 0px;
}

.cards__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

.order {
  padding: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f4f5f7;
}

@media screen and (min-width: 400px) {
  .order {
    padding: 73px 0px 72px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.order__illustration {
  max-width: 200px;
}

@media screen and (min-width: 400px) {
  .order__illustration {
    height: 296px;
    max-width: 269px;
    margin-right: 121px;
  }
}

.order__details {
  max-width: 555px;
}

.order__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  margin-top: 33px;
  margin-bottom: 0;
}

.order__text {
  font-size: 22px;
  line-height: 32px;
  margin-top: 12px;
}

@media screen and (min-width: 400px) {
  .order__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 26px;
  }
}

.order__email {
  margin: 0;
  margin-top: 40px;
  border: 1px solid #2b292d33;
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}

@media screen and (min-width: 400px) {
  .order__email {
    margin-top: 0;
  }
}

.order__email::-webkit-input-placeholder {
  color: #2b292d;
}

.order__email:-ms-input-placeholder {
  color: #2b292d;
}

.order__email::-ms-input-placeholder {
  color: #2b292d;
}

.order__email::placeholder {
  color: #2b292d;
}

.order__button {
  margin-top: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 399px) {
  .order__button {
    width: 100%;
  }
}

@media screen and (min-width: 400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
  }
}

.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
  margin-top: 10px;
}

.order__terms-link {
  color: #3142c6;
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
  margin-top: 40px;
}

@media screen and (min-width: 400px) {
  .footer__line {
    margin: 0;
  }
}

.footer-navigation {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0px auto;
    height: 338px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about-company {
  margin-top: 43px;
}

.about-company__logo {
  display: none;
}

@media screen and (min-width: 400px) {
  .about-company__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-description {
  display: none;
  width: 360px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 26px;
  color: #2b292d99;
}

@media screen and (min-width: 400px) {
  .footer-description {
    display: block;
  }
}

.downloads {
  margin: 25px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.additional-navigation__column {
  margin-top: 30px;
}

@media screen and (min-width: 400px) {
  .additional-navigation__column {
    margin-right: 29px;
    margin-top: 0;
  }
}

@media screen and (min-width: 400px) {
  .additional-navigation {
    margin-left: auto;
    margin-top: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

.nav-links__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links__item {
  font-size: 18px;
  line-height: 30px;
  color: #2b292d99;
}

.footer-links {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 400px) {
  .footer-links {
    height: 50px;
    width: 1140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.terms {
  margin-top: 30px;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (min-width: 400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}

.terms__item {
  text-decoration: none;
  color: #2b292d99;
}

.terms__item:last-child {
  margin-right: 0;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}

@media screen and (min-width: 400px) {
  .social-links {
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.social-links__item {
  margin-left: 20px;
}

.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.logo-vertical__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
}

.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  color: #2b292d99;
}

@media screen and (min-width: 400px) {
  .logo-vertical {
    display: none;
  }
}
